/* VERSION 2 ADDITION */

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  padding: 8px 16px;
  background:black;
  border-bottom: 1px solid  rgb(245, 244, 244);
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  font-size:80px;
  color: white;
  align-items: center;
}
#convertBttn,#upload-msg{
  border: none;
  outline: none;
  background: rgb(89, 150, 248);
  color: white;
  border-radius: 3.2px;
  padding: 8px 16px;
  font-size: 19.2px;
  margin-right: 32px;
  cursor: pointer;
}
#convertBttn{
  display: none;
}
.title{
  font-size: 30px;
  color: red;
  text-align:center;
  font-family: Arial;
}
.info{
  text-align:left;
  font-size: 13px;
  font-family: Calibri;
  border-radius: 0%;
  border: 55px solid black;
  border-width: 2px;
  padding: 5px 5px;
  margin-left: 200px;
  margin-right: 200px;
}

/* VERSION 3 ADDITION */

/* The input page */
.input-page{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
}
/* Put all contents into a box */
.add-more-files{
  width: 550px;
  border-radius: 5px;
  padding: 50px;
  margin: 20px auto;
  text-align: center;
  background: rgba(230, 230, 250, 0.13);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* Design of drag and drop */
.inp-container{
  cursor: pointer;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(124, 124, 145, 0.1) 0px 16px 48px;
  height: 300px;
  background: white;
  width: 300px;
  border-radius: 50%;
  border: 55px dashed black;
  margin: auto;
  border-width: 4px;
}
/* Cursor, icon linked */
#upload-file{
  opacity: 0;
  display: block;
  height: 256px;
  width: 100%;
  position: absolute;
  cursor: pointer;
}
/* Picture icon */
.img-icon{
  color:  rgb(153, 102, 255);
}
/* Choose files text */
#custom-file{
  color: rgb(96, 102, 155);
  position: relative;
  top: 18px;
  font-size: 20px;
  font-weight: 600;
}
/* Drag and drop text */
.drop{
  margin-top: 60px;
  font-size: 20px;
  color: rgb(108, 107, 175);
}

/* VERSION 4 ADDITION */

/* PDF page */
.the-pdf-page{
  display: none;
  min-height: 90%;
  width:100%;
  overflow: hidden;
}
/* Padding of items from side */
.create-pdf{
  position: relative;
  padding: 16px;
  margin: auto;
}
/* The box that the selected img will sit within */
.file-item{
  padding: 20px 15px;
  background: none;
  text-align: center;
  position: relative;
  width: 160px;
  height: 256px;
  text-align: center;
  margin: 16px;
  display: inline-block;
  transition: 0.3s all ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Add design to the delete button */
.modify button{
  padding: 4.8px;
  font-size: 16px;
  color: rgb(250, 64, 64);
  border-radius: 50%;
}
/* The specifications of the image */
.img-container{
  width: 130px;
  margin: auto;
  height: 201px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* The specifications of the image inside its container */
#img{
  position: relative;
  max-width: 144px;
  max-height: 200px;
}
/* Details of the button concerning appearance, size, etc. */
.file-item button{
  margin: 0 3.2px;
  background: none;
  border: none;
  outline: none;
  font-size: 19.2px;
  transition: 0.3s all ease-in-out;
  opacity: 0;
  padding: 4.8px 8px;
}
/* When user hovers over button, it should appear */
.file-item button:hover{
  background: rgb(224, 248, 251);
}
.file-item:hover button{
  opacity: 1;
}
/* This is for the text describing the image name */
#img-name{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 136px;
  text-align: center;
  margin: 16px auto;
}
/* This is for the selction that allows users to add more files
aligning it to the top of the page */
.add-more-file{
    padding: 0 16px;
    background: none;
    text-align: center;
    position: relative;
    margin: 8px;
    display: inline-block;
    transition: 0.3s all ease-in-out;
    width: 160px;
    height: 256px;
    vertical-align: top;
}
/* This is for the add file section, changing the interface of it */
.inp-cont{
   display: flex;
   flex-direction: column;
   flex-flow: column-reverse;
   border-radius: 50%;
   position: relative;
   text-align: center;
   border: none;
   background: rgb(241, 246, 246);
   width: 144px;
   height: 144px;
   margin: 48px auto;
 }
/* Size of design around add file and cursor design */
 #inp{
   opacity: 0;
   display: block;
   width: 144px;
   height: 144px;
   border-radius: 50%;
   position: absolute;
   cursor: pointer;
 }

 .create-pdf .add-more-file p{
   position: relative;
   top: -56px;
 }

/* VERSION 5  */
